@charset "utf-8";
@import url('reset.css');

body{
    font-family: 'Pretendard';
}


@font-face {
    font-family: 'Corben';
    src: url('../font/corben/Corben-Bold.woff2') format('woff2'),
        url('Corben-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Corben';
    src: url('../font/corben/Corben-Regular.woff2') format('woff2'),
        url('Corben-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}


@font-face {
    font-family: 'Aclonica';
    src: url('../font/Aclonica/Aclonica-Regular.woff2') format('woff2'),
        url('Aclonica-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}



@font-face {
    font-family: 'Pretendard';
    src: url('../font/Pretendard/Pretendard-Regular.eot');
    src: url('../font/Pretendard/Pretendard-Regular.eot?#iefix') format('embedded-opentype'),
        url('../font/Pretendard/Pretendard-Regular.woff2') format('woff2'),
        url('../font/Pretendard/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Pretendard';
    src: url('../font//Pretendard/Pretendard-Medium.eot');
    src: url('../font/Pretendard/Pretendard-Medium.eot?#iefix') format('embedded-opentype'),
        url('../font/Pretendard/Pretendard-Medium.woff2') format('woff2'),
        url('../font/Pretendard/Pretendard-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Pretendard';
    src: url('../font/Pretendard/Pretendard-SemiBold.eot');
    src: url('../font/Pretendard/Pretendard-SemiBold.eot?#iefix') format('embedded-opentype'),
        url('../font/Pretendard/Pretendard-SemiBold.woff2') format('woff2'),
        url('../font/Pretendard/Pretendard-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Pretendard';
    src: url('../font/Pretendard/Pretendard-Bold.eot');
    src: url('../font/Pretendard/Pretendard-Bold.eot?#iefix') format('embedded-opentype'),
        url('../font/Pretendard/Pretendard-Bold.woff2') format('woff2'),
        url('../font/Pretendard/Pretendard-Bold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

/* * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
} */


body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

.header {
    max-width: 1600px;
    min-width: 1024px;
    width: 100%;
    height: 45px;
    background-color: #8FB7D7;
    margin: 0 auto;
    display: block;
}
.header .user_menu {
    display: flex;
    gap: 30px;
    color: white;
    line-height: 45px;
    font-size: 14px;
    justify-content: end;
    margin-right: 40px;
}
.header .user_menu a:hover{
    font-weight: 700;
}
.header .user_menu .lang-area{
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
}
.header .user_menu .lang-area > a{
    height: 45px;
    display: flex;
    align-items: center;
}
.header .user_menu .lang-area a{
    display: flex;
    justify-content: center;
    align-items: center;
}
.header .user_menu .lang-area a img{
    width: 22px;
}

.header .user_menu .lang-area .lang a:hover{
    font-weight: 700;
}
.header .user_menu .lang-area .lang{
    position: absolute;
    top: 45px;
    left: 50%;
    transform: translateX(-50%);
    color: #8FB7D7;
    background-color: #fff;
    border: 1px solid #c3c3c3;
    padding: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    font-size: 15px;
    font-weight: 400;
    line-height: 1;
    display: none;
    z-index: 999;
}
.header .user_menu .lang-area .lang li a{
    white-space: nowrap;
}
.header .user_menu .lang-area:hover .lang{
    display: flex;
}


.inner{
    max-width: 1600px;
    min-width: 1024px;
    width: 100%;
}
.inner .nav {
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 1600px;
    min-width: 1024px;
    width: 100%;
    margin: 0 auto;
    margin-top: 35px;
    position: relative;
}
.inner .nav .logo{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}
.inner .nav .logo img{
    height: 50px;
    object-fit: cover;
}
.inner .nav .gnb{
    display: flex;
    align-items: center;
    gap: 300px;
}
.inner .nav .gnb li {
    display: inline-block;
    width: 100px;
    text-align: center;
}
.inner .nav .gnb li:hover{
    font-weight: bold;
    text-decoration: underline;
}
.inner .nav .gnb .gnb-left{
    display: flex;
    align-items: center;
    gap: 70px;
    font-size: 18px;
    color: #333;
    margin-left: 125px;
}
.inner .nav .gnb .gnb-right{
    display: flex;
    align-items: center;
    gap: 30px;
    font-size: 18px;
    color: #333;
}
.inner .nav .util{
    display: flex;
    align-items: center;
    gap: 25px;
    margin-left: 58px;
}
.inner .nav .util img{
    width: 35px;
    height: 35px;
    object-fit: cover;
}

.main {
    max-width: 1600px;
    min-width: 1024px;
    width: 100%;            
    margin: 110px auto 0;   
    padding: 0 70px;        
    position: relative;
    height: auto;           
}
.main .main_visual img {
    width: 100%;            
    height: auto;           
    display: block;
    border-radius: 40px 40px 0 0;
}

.main .title{
    font-family: 'Corben';
    color: #fff;
    font-weight: bold;
    line-height: 1.3;
    position: absolute;
    left: 160px;
    top: 250px;
}
.main .title h2{
    font-size: 70px;
}
.main .title h3{
    font-size: 100px;
    padding-left: 180px;
}


.best {
    margin-top: 250px;
}
.best h4{
    font-family: 'Aclonica';
    color: #82AAC9;
    font-size: 55px;
    text-align: center;
    margin-bottom: 30px;
}
.best .youtube{
    width: 711px;
    margin: 0 auto;
    margin-bottom: 20px;
}

.best .section-01 {
    margin-bottom: 250px;
    max-width: 1600px;
    min-width: 1024px;
    width: 100%;
    position: relative;
}
.best .section-01 .swiper-wrapper{
    width: 100%;
}
.best .section-01 .swiper-slide {
    width: 650px;
    height: 250px;
    opacity: 0.5;
    transition: opacity 0.3s;
    position: relative;
}
.best .section-01 .swiper-slide-active {
    opacity: 1;
}
.best .section-01 .swiper-slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}
.best .section-01 .swiper-slide::after{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to top, rgba(0,0,0,0.8), rgba(0,0,0,0));
    pointer-events: none;
    z-index: 1;
}
.best .section-01 .swiper-slide .text {
    font-family: 'Aclonica';
    position: absolute;
    left: 30px;
    bottom: 15px;
    font-size: 20px;
    color: #fff;
    z-index: 2;
}
.best .section-01 .swiper-slide .text p {
    font-size: 20px;
    margin-bottom: 5px;
}
.best .section-01 .swiper-slide .text b {
    font-size: 30px;
    line-height: 1.2;
}
.best .section-01 .swiper-pagination {
    position: relative;
    bottom: auto;
    margin-top: 10px;
    text-align: center;
}
/* 기본 동그라미 색상 */
.best .section-01 .swiper-pagination-bullet {
    background-color: #ccc; 
}
/* 활성 슬라이드 동그라미 색상 */
.best .section-01 .swiper-pagination-bullet-active {
    background-color: #8FB7D7; 
}


.new {
    max-width: 1600px;
    min-width: 1024px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.new h4{
    font-family: 'Aclonica';
    width: 100%;
    font-size: 55px;
    color: #82AAC9;
    margin: 0 auto;
    text-align: left;
}
.new .section-02 {
    max-width: 1600px;
    min-width: 1024px;
    width: 100%;
    height: 650px;
    margin-top: 30px;
    margin-bottom: 280px;
}
.new .section-02 .swiper-slide {
    width: 100%;
    display: flex;
    align-items: center;
}

.new .section-02 .swiper-slide img {
    width: 600px;
    height: 650px;
    margin-right: 100px;
}

.new .section-02 .swiper-slide .item {
    width: 850px;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
    position: relative;
}

.new .section-02 .swiper-slide .item h3 {
    font-family: 'Aclonica';
    font-size: 35px;
    line-height: 1.2;
    font-weight: bold;
    color: #333333;
    margin-bottom: 17px;
    white-space: nowrap;
}

.new .section-02 .swiper-slide .item ul{
    font-size: 17px;
    color: #828282;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 7px;
    margin-bottom: 10px;
}

.new .section-02 .swiper-slide .item img {
    width: 370px;
    height: 300px;
    margin: 0 auto;
    display: block;
}

.new .section-02 .swiper-slide .item span {
    font-size: 16px;
    line-height: 1.4;
    color: #333333;
    font-weight: 500;
    margin-bottom: 23px;
}

.new .section-02 .swiper-slide .item b {
    width: 180px;
    height: 50px;
    padding: 15px 20px;
    font-size: 20px;
    color: #828282;
    border: 1px solid #b7b7b7;
    display: flex;
    align-items: center;
    justify-content: center;
}
.new .section-02 .swiper-slide .item b:hover{
    background-color: #82AAC9;
    color: #fff;
    border: none;
}


.new .section-02 .swiper-slide .item .swiper-pagination {
    position: absolute;
    bottom: -60px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: center;
    gap: 10px;
}

.swiper-pagination-bullet {
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: #ccc;
}

.swiper-pagination-bullet-active {
    background-color: #8FB7D7;
}





.routine {
    max-width: 1600px;
    min-width: 1024px;
    width: 100%;
    margin: 0 auto 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.routine h2{
    width: 100%;
    font-family: 'Aclonica';
    font-size: 55px;
    color: #82AAC9;
    margin: 0 auto;
    text-align: left;
}

.routine .section-03{
    max-width: 1600px;
    min-width: 1024px;
    width: 100%;
    height: 683px;
    margin-top: 30px;
    position: relative;
}

.routine .section-03 .swiper-slide{
    width: 100%;
    display: flex;
    align-items: center;
}

.routine .section-03 .swiper-slide img{
    width: 870px;
    height: 600px;
    margin-right: 30px;
}
.routine .section-03 .swiper-slide .item{
    width: 470px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.routine .section-03 .swiper-slide .item .box{
    width: 470px;
    height: 180px;
    display: flex;
    align-items: center;
    border: 1px solid transparent;
    box-sizing: border-box;
    transition: 
        border-color 0.2s ease,
        box-shadow 0.2s ease;
}
.routine .section-03 .swiper-slide .item .box:hover{
    border-color: #d1d1d1;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.06);
}
.routine .section-03 .swiper-slide .item .box img{
    width: 180px;
    height: 178px;
    display: block;
    margin-right: 20px;
}
.routine .section-03 .swiper-slide .item .box .text{
    width: 270px;
    display: flex;
    flex-direction: column;
}
.routine .section-03 .swiper-slide .item .box .text span{
    font-family: 'Aclonica';
    font-size: 18px;
    color: #8FB7D7;
    font-weight: 500;
    margin-bottom: 15px;
}
.routine .section-03 .swiper-slide .item .box .text h3{
    font-size: 18px;
    font-weight: 600;
    color: #333333;
    margin-bottom: 12px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.routine .section-03 .swiper-slide .item .box .text p{
    font-size: 16px;
    color: #b7b7b7;
    margin-bottom: 30px;
}
.routine .section-03 .swiper-slide .item .box .text b{
    font-size: 21px;
    color: #333333;
}
.routine .section-03 .swiper-pagination {
    position: relative;
    margin-top: 20px;
    text-align: center;
}
/* 기본 동그라미 색상 */
.routine .section-03 .swiper-pagination-bullet {
    background-color: #ccc; 
}
/* 활성 슬라이드 동그라미 색상 */
.routine .section-03 .swiper-pagination-bullet-active {
    background-color: #8FB7D7; 
}



/* .routine {
    max-width: 1600px;
    min-width: 1024px;
    width: 100%;
    margin: 0 auto 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.routine .section-03{
    max-width: 1600px;
    min-width: 1024px;
    width: 100%;
    height: 683px;
    margin-top: 30px;
    position: relative;
} */

.lbll{}
.lbll .section-04{}
.lbll .section-04 .swiper-slide{}
.lbll .section-04 .swiper-slide img{}
.lbll .section-04 .swiper-slide .text{}
.lbll .section-04 .swiper-slide .text h3{}
.lbll .section-04 .swiper-slide .text b{}
.lbll .section-04 .swiper-slide .text p{}