@charset "utf-8";
@import url('reset.css');

body {
    font-family: 'Pretendard';
}


@font-face {
    font-family: 'Corben';
    src: url('../font/corben/Corben-Bold.woff2') format('woff2'),
        url('Corben-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Corben';
    src: url('../font/corben/Corben-Regular.woff2') format('woff2'),
        url('Corben-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}


@font-face {
    font-family: 'Aclonica';
    src: url('../font/Aclonica/Aclonica-Regular.woff2') format('woff2'),
        url('Aclonica-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}



@font-face {
    font-family: 'Pretendard';
    src: url('../font/Pretendard/Pretendard-Regular.eot');
    src: url('../font/Pretendard/Pretendard-Regular.eot?#iefix') format('embedded-opentype'),
        url('../font/Pretendard/Pretendard-Regular.woff2') format('woff2'),
        url('../font/Pretendard/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Pretendard';
    src: url('../font//Pretendard/Pretendard-Medium.eot');
    src: url('../font/Pretendard/Pretendard-Medium.eot?#iefix') format('embedded-opentype'),
        url('../font/Pretendard/Pretendard-Medium.woff2') format('woff2'),
        url('../font/Pretendard/Pretendard-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Pretendard';
    src: url('../font/Pretendard/Pretendard-SemiBold.eot');
    src: url('../font/Pretendard/Pretendard-SemiBold.eot?#iefix') format('embedded-opentype'),
        url('../font/Pretendard/Pretendard-SemiBold.woff2') format('woff2'),
        url('../font/Pretendard/Pretendard-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Pretendard';
    src: url('../font/Pretendard/Pretendard-Bold.eot');
    src: url('../font/Pretendard/Pretendard-Bold.eot?#iefix') format('embedded-opentype'),
        url('../font/Pretendard/Pretendard-Bold.woff2') format('woff2'),
        url('../font/Pretendard/Pretendard-Bold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}


.wrapper {
    width: 100%;        
    max-width: 1600px; 
    margin: 0 auto;    
}

body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    font-family: 'Pretendard';
    color: #333;
}

.visual {
    min-height: 100vh;
    position: relative;
    background:
        radial-gradient(43.75vw 43.75vw at 17% 15%, rgba(167, 206, 237, 0.4), transparent 70%),
        radial-gradient(37.5vw 37.5vw at 80% 22%, rgba(240, 212, 217, 0.9), transparent 70%),
        radial-gradient(21.88vw 21.88vw at 27% 32%, rgba(240, 212, 217, 1), transparent 70%),
        radial-gradient(50vw 50vw at 50% 50%, rgba(167, 206, 237, 0.5), transparent 70%),
        radial-gradient(28.13vw 28.13vw at 88% 67%, rgba(240, 212, 217, 0.7), transparent 70%),
        radial-gradient(37.5vw 37.5vw at 25% 78%, rgba(240, 212, 217, 0.9), transparent 70%),
        #fff;
    background-repeat: no-repeat;
}


.header {
    max-width: 100vw;
    min-width: 30vw;
    width: 100%;
    height: 2.81vw;
    background-color: #8FB7D7;
    margin: 0 auto;
    display: block;
}

.header .user_menu {
    display: flex;
    gap: 1.88vw;
    color: white;
    line-height: 2.81vw;
    font-size: 0.88rem;
    justify-content: flex-end;
    margin-right: 2.5vw;
}

.header .user_menu a:hover {
    font-weight: 700;
}

.header .user_menu .lang-area {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
}

.header .user_menu .lang-area>a {
    height: 2.81vw;
    display: flex;
    align-items: center;
}

.header .user_menu .lang-area a {
    display: flex;
    justify-content: center;
    align-items: center;
}

.header .user_menu .lang-area a img {
    width: 1.38vW;
}

.header .user_menu .lang-area .lang a:hover {
    font-weight: 700;
}

.header .user_menu .lang-area .lang {
    position: absolute;
    top: 2.81vw;
    left: 50%;
    transform: translateX(-50%);
    color: #8FB7D7;
    background-color: #fff;
    border: 0.06vw solid #c3c3c3;
    padding: 0.94vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.94vw;
    font-size: 0.94rem;
    font-weight: 400;
    line-height: 1;
    display: none;
    z-index: 999;
}

.header .user_menu .lang-area .lang li a {
    white-space: nowrap;
}

.header .user_menu .lang-area:hover .lang {
    display: flex;
}


.inner {
    max-width: 100vw;
    min-width: 30vw;
    width: 100%;
}

.inner .nav {
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 100vw;
    min-width: 30vw;
    width: 100%;
    margin: 0 auto;
    margin-top: 2.19vw;
    position: relative;
}

.inner .nav .logo {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.inner .nav .logo img {
    width: auto;
    height: 50px;
    object-fit: cover;
}

.inner .nav .gnb {
    display: flex;
    align-items: center;
    gap: 18.75vw;
}

.inner .nav .gnb li {
    display: inline-block;
    width: 6.25vw;
    text-align: center;
}

.inner .nav .gnb li:hover {
    font-weight: bold;
    text-decoration: underline;
}

.inner .nav .gnb .gnb-left {
    display: flex;
    align-items: center;
    gap: 4.38vw;
    font-size: 1.13rem;
    color: #333;
    margin-left: 7.81vw;
}

.inner .nav .gnb .gnb-right {
    display: flex;
    align-items: center;
    gap: 1.88vw;
    font-size: 1.13rem;
    color: #333;
}

.inner .nav .util {
    display: flex;
    align-items: center;
    gap: 1.56vw;
    margin-left: 3.63vw;
}

.inner .nav .util img {
    width: 2.19vw;
    height: 2.19vw;
    object-fit: cover;
}

.main {
    max-width: 100vw;
    min-width: 30vw;
    width: 100%;
    margin: 6.88vw auto 0;
    padding: 0 4.38vw;
    position: relative;
    height: auto;
}

.main .main_visual img {
    width: 100%;
    height: auto;
    display: block;
    border-radius: 2.5vw 2.5vw 0 0;
}

.main .title {
    font-family: 'Corben';
    color: #fff;
    font-weight: bold;
    line-height: 1.3;
    position: absolute;
    left: 10vw;
    top: 14.63vw;
}

.main .title h2 {
    font-size: 4.38rem;
}

.main .title h3 {
    font-size: 6.25rem;
    padding-left: 11.25vw;
}


.best {
    margin-top: 15.63vw;
}

.best h4 {
    font-family: 'Aclonica';
    color: #82AAC9;
    font-size: 3.44rem;
    text-align: center;
    margin-bottom: 1.88vw;
}

.best .youtube {
    width: 44.44vw;
    margin: 0 auto;
    margin-bottom: 1.25vw;
}

.best .section-01 {
    margin-bottom: 15.63vw;
    max-width: 100vw;
    min-width: 30vw;
    width: 100%;
    position: relative;
}

.best .section-01 .swiper-wrapper {
    width: 100%;
}

.best .section-01 .swiper-slide {
    width: 40.63vw;
    height: 15.63vw;
    opacity: 0.5;
    transition: opacity 0.3s;
    position: relative;
}

.best .section-01 .swiper-slide-active {
    opacity: 1;
}

.best .section-01 .swiper-slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.best .section-01 .swiper-slide::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0));
    pointer-events: none;
    z-index: 1;
}

.best .section-01 .swiper-slide .text {
    font-family: 'Aclonica';
    position: absolute;
    left: 1.88vw;
    bottom: 0.94vw;
    font-size: 1.25rem;
    color: #fff;
    z-index: 2;
}

.best .section-01 .swiper-slide .text p {
    font-size: 1.25rem;
    margin-bottom: 0.31vw;
}

.best .section-01 .swiper-slide .text b {
    font-size: 1.88rem;
    line-height: 1.2;
}

.best .section-01 .swiper-pagination {
    position: relative;
    bottom: auto;
    margin-top: 0.63vw;
    text-align: center;
}

.best .section-01 .swiper-pagination-bullet {
    background-color: #ccc;
}

.best .section-01 .swiper-pagination-bullet-active {
    background-color: #8FB7D7;
}


.new {
    max-width: 100vw;
    min-width: 30vw;
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.new h4 {
    font-family: 'Aclonica';
    width: 100%;
    font-size: 3.44rem;
    color: #82AAC9;
    margin: 0 auto;
    text-align: left;
}

.new .section-02 {
    max-width: 100vw;
    min-width: 30vw;
    width: 100%;
    height: 40.63vw;
    margin-top: 1.88vw;
    margin-bottom: 17.5vw;
}

.new .section-02 .swiper-slide {
    width: 100%;
    display: flex;
    align-items: center;
}

.new .section-02 .swiper-slide img {
    width: 37.5vw;
    height: 40.63vw;
    margin-right: 6.25vw;
}

.new .section-02 .swiper-slide .item {
    width: 53.13vw;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
    position: relative;
}

.new .section-02 .swiper-slide .item h3 {
    font-family: 'Aclonica';
    font-size: 2.19rem;
    line-height: 1.2;
    font-weight: bold;
    color: #333333;
    margin-bottom: 1.06vw;
    white-space: nowrap;
}

.new .section-02 .swiper-slide .item ul {
    font-size: 1.06rem;
    color: #828282;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0.44vw;
    margin-bottom: 0.63vw;
}

.new .section-02 .swiper-slide .item img {
    width: 23.13vw;
    height: 18.75vw;
    margin: 0 auto;
    display: block;
}

.new .section-02 .swiper-slide .item span {
    font-size: 1rem;
    line-height: 1.4;
    color: #333333;
    font-weight: 500;
    margin-bottom: 1.44vw;
}

.new .section-02 .swiper-slide .item b {
    width: 11.25vw;
    height: 3.13vw;
    padding: 0.94vw 1.25vw;
    font-size: 1.25rem;
    color: #828282;
    border: 1px solid #b7b7b7;
    display: flex;
    align-items: center;
    justify-content: center;
}

.new .section-02 .swiper-slide .item b:hover {
    background-color: #82AAC9;
    color: #fff;
    border: none;
}


.new .section-02 .swiper-slide .item .swiper-pagination {
    position: absolute;
    bottom: -3.75vw;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: center;
    gap: 0.63vw;
}

.swiper-pagination-bullet {
    width: 0.5vw;
    height: 0.5vw;
    border-radius: 50%;
    background-color: #ccc;
}

.swiper-pagination-bullet-active {
    background-color: #8FB7D7;
}


.routine {
    max-width: 100vw;
    min-width: 30vw;
    width: 100%;
    margin: 0 auto 12.5vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.routine h2 {
    width: 100%;
    font-family: 'Aclonica';
    font-size: 3.44rem;
    color: #82AAC9;
    margin: 0 auto;
    text-align: left;
}

.routine .section-03 {
    max-width: 100vw;
    min-width: 30vw;
    width: 100%;
    height: 42.69vw;
    margin-top: 1.88vw;
    position: relative;
}

.routine .section-03 .swiper-slide {
    width: 100%;
    display: flex;
    align-items: center;
}

.routine .section-03 .swiper-slide img {
    width: 54.38vw;
    height: 37.5vw;
    margin-right: 1.88vw;
}

.routine .section-03 .swiper-slide .item {
    width: 29.38vw;
    display: flex;
    flex-direction: column;
    gap: 1.25vw;
}

.routine .section-03 .swiper-slide .item .box {
    width: 31.25vw;
    height: 11.25vw;
    display: flex;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.7);
    border: 1px solid rgba(255, 255, 255, 0.3);
    backdrop-filter: blur(8px);
    -webkit-backdrop-filter: blur(8px);
    box-sizing: border-box;
    transition:
        border-color 0.2s ease,
        box-shadow 0.2s ease;
}

.routine .section-03 .swiper-slide .item .box:hover {
    border-color: #d1d1d1;
    box-shadow: 0 0.25vw 0.63vw rgba(0, 0, 0, 0.06);
}

.routine .section-03 .swiper-slide .item .box img {
    width: 11.25vw;
    height: 11.13vw;
    display: block;
    margin-right: 1.25vw;
}

.routine .section-03 .swiper-slide .item .box .text {
    width: 16.88vw;
    display: flex;
    flex-direction: column;
}

.routine .section-03 .swiper-slide .item .box .text span {
    font-family: 'Aclonica';
    font-size: 1.13rem;
    color: #8FB7D7;
    font-weight: 500;
    margin-bottom: 0.94vw;
}

.routine .section-03 .swiper-slide .item .box .text h3 {
    font-size: 1.13rem;
    font-weight: 600;
    color: #333333;
    margin-bottom: 0.75vw;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.routine .section-03 .swiper-slide .item .box .text p {
    font-size: 1rem;
    color: #b7b7b7;
    margin-bottom: 1.88vw;
}

.routine .section-03 .swiper-slide .item .box .text b {
    font-size: 1.313rem;
    color: #333333;
}

.routine .section-03 .swiper-pagination {
    position: relative;
    margin-top: 1.25vw;
    text-align: center;
}

.routine .section-03 .swiper-pagination-bullet {
    background-color: #ccc;
}

.routine .section-03 .swiper-pagination-bullet-active {
    background-color: #8FB7D7;
}


.lbll {
    max-width: 100vw;
    min-width: 30vw;
    width: 100%;
    margin: 0 auto;
}

.lbll .section-04 {
    max-width: 100vw;
    min-width: 30vw;
    width: 100%;
    position: relative;
}

.lbll .section-04 .swiper-slide {
    position: relative;
}

.lbll .section-04 .swiper-slide::after {
    content: '';
    position: absolute;
    top: 6.25vw;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0));
    pointer-events: none;
    z-index: 1;
}

.lbll .section-04 .swiper-slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.lbll .section-04 .swiper-slide .text {
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 9;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.lbll .section-04 .swiper-slide .text h3 {
    font-family: 'Aclonica';
    font-size: 3.13rem;
    white-space: nowrap;
    margin-bottom: 1.56vw;
}

.lbll .section-04 .swiper-slide .text b {
    font-size: 1.375rem;
    font-weight: 400;
    text-align: center;
    line-height: 1.3;
    margin-bottom: 4.06vw;
}

.lbll .section-04 .swiper-slide .text p {
    font-size: 0.94rem;
    border: 1px solid #fff;
    border-radius: 35px;
    display: inline;
    padding: 1vw 1.81vw;
}

.lbll .section-04 .swiper-slide .text p:hover {
    background-color: #fff;
    color: #333;
    font-weight: 600;
}

.lbll .section-04 .swiper-pagination-bullet {
    background: none !important;
    display: inline-block;
    width: auto;
    text-align: left;
    position: relative;
    margin: 0 0.94vw 5.63vw;
    vertical-align: top;
    line-height: 1;
}

.lbll .section-04 .swiper-pagination-bullet::before {
    content: '';
    display: block;
    width: 17.5vw;
    height: 0.31vw;
    background-color: #828282;
    border-radius: 0;
    margin-bottom: 0.94vw;
}

.lbll .section-04 .swiper-pagination-bullet span {
    display: block;
    font-family: 'Aclonica';
    font-size: 1.13rem;
    color: #fff;
}

.lbll .section-04 .swiper-pagination-bullet-active::before {
    background-color: #fff;
}


.footer {
    max-width: 100vw;
    min-width: 30vw;
    width: 100%;
    background-color: #f5f5f5;
    margin: 0 auto;
}

.footer .inner .top {
    background-color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.94vw 4.38vw;
}

.footer .inner .top .left ul {
    display: flex;
    align-items: center;
    gap: 5vw;
    font-size: 0.94rem;
    font-weight: 600;
}

.footer .inner .top .right ul {
    display: flex;
    align-items: center;
    gap: 2.19vw;
}

.footer .inner .top .right ul li a {
    width: 1.88vw;
    height: 1.88vw;
    display: block;
}

.footer .inner .top .right ul li a img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.footer .inner .bottom {
    background-color: #82AAC9;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 3.13vw 4.38vw 5vw;
}

.footer .inner .bottom .left {
    color: #fff;
    font-size: 1rem;
    font-weight: 600;
    display: flex;
    flex-direction: column;
    gap: 1.56vw;
}

.footer .inner .bottom .left span {
    font-size: 0.88rem;
    font-weight: 400;
}

.footer .inner .bottom .left img {
    width: 6.25vw;
    object-fit: cover;
}

.footer .inner .bottom .right {
    color: #fff;
    font-size: 1rem;
    font-weight: 600;
    display: flex;
    align-items: flex-start;
    gap: 5vw;
}

.footer .inner .bottom .right .depth-1 {
    display: flex;
    flex-direction: column;
    gap: 1.88vw;
}

.footer .inner .bottom .right .depth-1 ul {
    font-size: 0.88rem;
    font-weight: 400;
    display: flex;
    flex-direction: column;
    gap: 1.25vw;
}

.footer .inner .bottom .right .depth-2 {
    display: flex;
    flex-direction: column;
    gap: 1.56vw;
}

.footer .inner .bottom .right .depth-2 ul {
    font-size: 0.88rem;
    font-weight: 400;
    display: flex;
    flex-direction: column;
    gap: 1.25vw;
}