@font-face {
    font-family: 'Corben';
    src: url('Corben-Bold.woff2') format('woff2'),
        url('Corben-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Corben';
    src: url('Corben-Regular.woff2') format('woff2'),
        url('Corben-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

