@font-face {
    font-family: 'Aclonica';
    src: url('Aclonica-Regular.woff2') format('woff2'),
        url('Aclonica-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

